*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 50px;
}

.mapBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3000px;
    height: 3000px;
    background: blue;
}

.mapBox iframe {
    width: 100%;
    height: 100%;
}