body {
    max-height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 200px;
}

.mapa {
    height: 80vh;
    justify-content: center;
}